*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// *:focus {
//   // outline: ;
//   // outline-offset: ;
// }

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

img {
  display: flex;
  object-fit: cover; /* contain */
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1212px; // *
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem; // *
  padding-right: 5rem; // *
}
.white {
  color: $white-color;
  letter-spacing: 2px;
  line-height: 1;
}
.project__shower {
  display: flex;
  align-items: center;
}
.project__showers__text {
  color: #fff;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
}
